body{
  height: max-content;
}

nav {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  }
  
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#gallery {
    background-color: #e2edff;
}

section{
    padding-top: 5rem;
}

footer{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}